﻿/* -----------------------------------------
   Template helpers
----------------------------------------- */
.btn-lg, .btn-group-lg > .btn {
    font-size: 14px;
    padding: 9px 12px;
    line-height: 1;    
} 
/* ------------------ Sizes --------------------*/
.s8 {
  font-size: 8px !important;
}
.s10 {
  font-size: 10px !important;
}
.s12 {
  font-size: 12px !important;
}
.s14 {
  font-size: 14px !important;
}
.s16 {
  font-size: 16px !important;
}
.s20 {
  font-size: 20px !important;
}
.s24 {
  font-size: 24px !important;
}
.s32 {
  font-size: 32px !important;
}
.s64 {
  font-size: 64px !important;
}
/* ------------------ Vertical align --------------------*/
.vat {
  vertical-align: top !important;
}
.vam {
  vertical-align: middle !important;
}
.vab {
  vertical-align: bottom !important;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* ------------------ Margins --------------------*/
.row.no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row.no-padding [class^="col-"] {
  padding: 0;
}
.m0 {
  margin: 0 !important;
}
.m5 {
  margin: 5px !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
/* Minus margins */
.mlm5 {
  margin-top: -5px !important;
}
.mlm10 {
  margin-top: -10px !important;
}
.mlm15 {
  margin-top: -15px !important;
}
.mlm20 {
  margin-top: -20px !important;
}
.mlm25 {
  margin-top: -25px !important;
}
.mtm5 {
  margin-top: -5px !important;
}
.mtm10 {
  margin-top: -10px !important;
}
.mtm15 {
  margin-top: -15px !important;
}
.mtm20 {
  margin-top: -20px !important;
}
.mtm25 {
  margin-top: -25px !important;
}
.mrm5 {
  margin-top: -5px !important;
}
.mrm10 {
  margin-top: -10px !important;
}
.mrm15 {
  margin-top: -15px !important;
}
.mrm20 {
  margin-top: -20px !important;
}
.mrm25 {
  margin-top: -25px !important;
}
.mbm5 {
  margin-top: -5px !important;
}
.mbm10 {
  margin-top: -10px !important;
}
.mbm15 {
  margin-top: -15px !important;
}
.mbm20 {
  margin-top: -20px !important;
}
.mbm25 {
  margin-top: -25px !important;
}
/* ------------------ Paddings --------------------*/
.p0 {
  padding: 0 !important;
}
.p5 {
  padding: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
/* ------------------ Percent widths --------------------*/
.per5 {
  width: 5% !important;
}
.per10 {
  width: 10% !important;
}
.per15 {
  width: 15% !important;
}
.per20 {
  width: 20% !important;
}
.per25 {
  width: 25% !important;
}
.per30 {
  width: 30% !important;
}
.per35 {
  width: 35% !important;
}
.per40 {
  width: 40% !important;
}
.per45 {
  width: 45% !important;
}
.per50 {
  width: 50% !important;
}
.per55 {
  width: 55% !important;
}
.per60 {
  width: 60% !important;
}
.per65 {
  width: 65% !important;
}
.per70 {
  width: 70% !important;
}
.per75 {
  width: 75% !important;
}
.per80 {
  width: 80% !important;
}
.per85 {
  width: 85% !important;
}
.per90 {
  width: 90% !important;
}
.per95 {
  width: 95% !important;
}
.per100 {
  width: 100% !important;
}
/* ------------------ Borders --------------------*/
.b {
  border: 1px solid #e3e3e3 !important;
}
.bt {
  border-top: 1px solid #e3e3e3 !important;
}
.br {
  border-right: 1px solid #e3e3e3 !important;
}
.bb {
  border-bottom: 1px solid #e3e3e3 !important;
}
.bl {
  border-left: 1px solid #e3e3e3 !important;
}
.btlr {
  border-top-left-radius: 3px !important;
}
.btrr {
  border-top-right-radius: 3px !important;
}
.bblr {
  border-bottom-left-radius: 3px !important;
}
.bbrr {
  border-bottom-right-radius: 3px !important;
}
.brall {
  border-radius: 3px !important;
}
.bn {
  border: none !important;
}
.bnt {
  border-top: none !important;
}
.bnb {
  border-bottom: none !important;
}
.bnl {
  border-left: none !important;
}
.bnr {
  border-right: none !important;
}
.brad0 {
  border-radius: 0 !important;
}
.btlr0 {
  border-top-left-radius: 0 !important;
}
.btrr0 {
  border-top-right-radius: 0 !important;
}
.bblr0 {
  border-bottom-left-radius: 0 !important;
}
.bbrr0 {
  border-bottom-right-radius: 0 !important;
}
.brad {
  border-radius: 3px !important;
}
.bbdashed {
  border-bottom: 1px dashed #e3e3e3 !important;
}
/* ------------------ Colors --------------------*/
.color-red {
  color: #db5565 !important;
}
.color-red-light {
  color: #df6a78 !important;
}
.color-red-dark {
  color: #c04b59 !important;
}
.color-blue {
  color: #0bacd3 !important;
}
.color-blue-light {
  color: #29b6d8 !important;
}
.color-blue-dark {
  color: #0a97b9 !important;
}
.color-green {
  color: #51bf87 !important;
}
.color-green-light {
  color: #66c796 !important;
}
.color-green-dark {
  color: #47a877 !important;
}
.color-yellow {
  color: #f4ad49 !important;
}
.color-yellow-light {
  color: #f5b75f !important;
}
.color-yellow-dark {
  color: #d69840 !important;
}
.color-white {
  color: #ffffff !important;
}
.color-dark {
  color: #262d37 !important;
}
.color-dark-light {
  color: #303946 !important;
}
.color-dark-dark {
  color: #1c2128 !important;
}
.color-gray {
  color: #555555 !important;
}
.color-gray-light {
  color: #777777 !important;
}
.color-gray-dark {
  color: #333333 !important;
}
/* ------------------ Backgrounds --------------------*/
.white-bg {
  color: #333333 !important;
  background-color: #ffffff !important;
}
.red-bg {
  color: #ffffff !important;
  background-color: #db5565 !important;
}
.red-light-bg {
  color: #ffffff !important;
  background-color: #df6a78 !important;
}
.red-dark-bg {
  color: #ffffff !important;
  background-color: #c04b59 !important;
}
.blue-bg {
  color: #ffffff !important;
  background-color: #0bacd3 !important;
}
.blue-light-bg {
  color: #ffffff !important;
  background-color: #29b6d8 !important;
}
.blue-dark-bg {
  color: #ffffff !important;
  background-color: #0a97b9 !important;
}
.green-bg {
  color: #ffffff !important;
  background-color: #51bf87 !important;
}
.green-light-bg {
  color: #ffffff !important;
  background-color: #66c796 !important;
}
.green-dark-bg {
  color: #ffffff !important;
  background-color: #47a877 !important;
}
.yellow-bg {
  color: #ffffff !important;
  background-color: #f4ad49 !important;
}
.yellow-light-bg {
  color: #ffffff !important;
  background-color: #f5b75f !important;
}
.yellow-dark-bg {
  color: #ffffff !important;
  background-color: #d69840 !important;
}
.gray-bg {
  color: #333333 !important;
  background-color: #555555 !important;
}
.gray-light-bg {
  color: #333333 !important;
  background-color: #777777 !important;
}
.gray-lighter-bg {
  color: #333333 !important;
  background-color: #eeeeee !important;
}
.gray-dark-bg {
  color: #333333 !important;
  background-color: #333333 !important;
}
.gray-darker-bg {
  color: #333333 !important;
  background-color: #222222 !important;
}
.dark-bg {
  color: #ffffff !important;
  background-color: #262d37 !important;
}
.dark-light-bg {
  color: #ffffff !important;
  background-color: #303946 !important;
}
.dark-dark-bg {
  color: #ffffff !important;
  background-color: #1c2128 !important;
}
/* ------------------ Opacity --------------------*/
.opacity {
  opacity: 1 !important;
}
.opacity0 {
  opacity: 0 !important;
}
/* ------------------ Typo --------------------*/
.strong {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.normal {
  font-weight: normal;
}
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* ------------------ Contextual colors --------------------*/
.text-muted {
  color: #777777;
}
.text-primary {
  color: #0bacd3;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0884a3;
}
.text-success {
  color: #51bf87;
}
a.text-success:hover,
a.text-success:focus {
  color: #3ba26e;
}
.text-info {
  color: #29b6d8;
}
a.text-info:hover,
a.text-info:focus {
  color: #2093ae;
}
.text-warning {
  color: #f4ad49;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f19719;
}
.text-danger {
  color: #db5565;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d12c40;
}
.text-yellow {
  color: #f4ad49;
}
a.text-yellow:hover,
a.text-yellow:focus {
  color: #f19719;
}
.text-dark {
  color: #262d37;
}
a.text-dark:hover,
a.text-dark:focus {
  color: #111419;
}
/* ------------------ Positions --------------------*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* ------------------ Rotate helpers --------------------*/
.rotate0 {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotate15 {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.rotate30 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.rotate45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate60 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.rotate75 {
  -webkit-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
}
.rotate90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate105 {
  -webkit-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg);
}
.rotate120 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.rotate135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.rotate150 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}
.rotate165 {
  -webkit-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  transform: rotate(165deg);
}
.rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotateM15 {
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.rotateM30 {
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.rotateM45 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.rotateM60 {
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.rotateM75 {
  -webkit-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  transform: rotate(-75deg);
}
.rotateM90 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.rotateM105 {
  -webkit-transform: rotate(-105deg);
  -ms-transform: rotate(-105deg);
  -o-transform: rotate(-105deg);
  transform: rotate(-105deg);
}
.rotateM120 {
  -webkit-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg);
}
.rotateM135 {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.rotateM150 {
  -webkit-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
  transform: rotate(-150deg);
}
.rotateM165 {
  -webkit-transform: rotate(-165deg);
  -ms-transform: rotate(-165deg);
  -o-transform: rotate(-165deg);
  transform: rotate(-165deg);
}
.rotateM180 {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* ------------------ Other --------------------*/
.bshadowNone {
  box-shadow: none !important;
}
.di {
  display: inline !important;
}
.dib {
  display: inline-block !important;
}
.db {
  display: block !important;
}