﻿@using plexassist.data.enums.images
@model plexassist.data.repositories.MovieClass


<style>
     .movie-page-background {
         -moz-background-size: cover;
         -o-background-size: cover;
         -webkit-background-size: cover;
         background-size: cover;
         height: 100%;
         left: 0;
         opacity: .5;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: -1;
     }
</style>

<div class="movie-page-background img-responsive" style="background-image: url('@(ViewBag.ImgUrl)@StillSizes.original@(Model.Movie.BackdropPath)?api_key=@ViewBag.TMDBApiKey')"></div>



<div>
    <div class="col-lg-2" id="left">
        <div>
            <img class="img-responsive img-thumbnail thumbnail" src="@(ViewBag.ImgUrl)@StillSizes.w185@(Model.Movie.PosterPath)?api_key=@ViewBag.TMDBApiKey" />
        </div>
        <div class="well">
            <div>
                <span class="fa fa-globe"></span>
                <a href="@Model.Movie.Homepage" target="_blank">Homepage</a>
            </div>
            <div>
                <span class="fa fa-calendar"></span>
                @Model.Movie.ReleaseDate.Value.ToShortDateString()
            </div>
        </div>
    </div>
    <article class="col-lg-7" id="center">

        <h1>@Model.Movie.Title</h1>
        <h4>@Model.Movie.Tagline</h4>
        <div>
            @Model.Movie.Overview
        </div>
            @if (Model.Movie.Videos.Results.Count > 0)
            {

                var video = Model.Movie.Videos.Results.FirstOrDefault(x => (x.Site == "YouTube") & (x.Size == 1080));
                if (video == null)
                {
                    video = Model.Movie.Videos.Results[0];
                }
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@video.Key"></iframe>
                </div>
                
            }
                    @*@{
                            var video = Model.Movie.Videos.Results.FirstOrDefault(x => x.Site == "YouTube" & x.Size == 1080);
                            if(video == null) {
                                video = Model.Movie.Videos.Results[0];
                            }
                        }*@

                
        
    </article>
    <div class="col-lg-3" id="right">
        <div id="cast">
            <div class="list-group">
                @foreach (var cast in Model.Movie.Credits.Cast.Take(5)) {
                    <a href="/person/@cast.Id" class="list-group-item">
                        <p class="list-group-item-text">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <img src="@(ViewBag.ImgUrl)@StillSizes.w92@(cast.ProfilePath)?api_key=@ViewBag.TMDBApiKey"/>
                                </div>
                                <div class="pull-left pl10">
                                    <h4 class="list-group-item-heading">@cast.Name</h4>
                                    <h5>"@cast.Character"</h5>
                                </div>
                            </div>
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>
</div>



@{
    if (Model.Movie.Video) {
        <div class="embed-responsive embed-responsive-16by9" style>
            <iframe class="embed-responsive-item" src="@Model.Movie.Videos.Results[0].Site"></iframe>
        </div>
    }
}