﻿@using plexassist.data.enums.images
@model plexassist.data.repositories.PersonClass


<style>
     .movie-page-background {
         -moz-background-size: cover;
         -o-background-size: cover;
         -webkit-background-size: cover;
         background-size: cover;
         height: 100%;
         left: 0;
         opacity: .5;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: -1;
     }
</style>

<div>
    <div class="col-lg-4" id="left">
        <img src="@(ViewBag.ImgUrl)@StillSizes.w300@(Model.Person.Images.Profiles[0].FilePath)?api_key=@ViewBag.TMDBApiKey"/>
    </div>
    <article class="col-lg-8" id="center">
        <div class="pull-right">
            <a target="_blank" href="http://www.imdb.com/name/@(Model.Person.ImdbId)/">
                <img src="https://mir-s3-cdn-cf.behance.net/projects/202/17493643.548c893727401.jpg" />
            </a>
        </div>
        <h1>@Model.Person.Name</h1>
        <div>
            @Model.Person.Biography
        </div>
        <div>

            <div class="row">

                @foreach (var movieRole in Model.Person.Credits.Cast.OrderBy(x => x.ReleaseDate))
                {
                    if (!string.IsNullOrEmpty(movieRole.PosterPath))
                    {
                        <div class="col-sm-6 col-md-4">

                            <div class="thumbnail">
                                <a href="/movie/@movieRole.Id" class="btn btn-default" role="button">
                                    <div style="height: 278px;">
                                        <img class="" src="@(ViewBag.ImgUrl)@StillSizes.w185@(movieRole.PosterPath)?api_key=@ViewBag.TMDBApiKey" />
                                    </div>
                                </a>
                            </div>
                           
                        </div>
                    }

                }

            </div>



        </div>
    </article>
</div>


