﻿@model List<TMDbLib.Objects.Search.SearchMovie>



<div class="clearfix">
    @foreach (var movie in Model)
    {
        <div class="media col-lg-6" style="height: 160px;">
            <div class="media-left">
                <a href="/movie/@movie.Id">
                    <img class="img-responsive img-thumbnail media-object" src="@(ViewBag.ImgUrl)w92@(movie.PosterPath)?api_key=@ViewBag.TMDBApiKey" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@movie.Title</h4>
                <p>
                    Release date:
                    @{
                        if (movie.ReleaseDate.HasValue)
                        {
                            @movie.ReleaseDate.Value.ToShortDateString()
                        }
                    }
                </p>
                <p>@movie.Overview</p>
            </div>
        </div>
                        }
</div>